::-webkit-scrollbar {
	width: 15px;
	background: #DAFEB7;

}
::-webkit-scrollbar-thumb{
	background: #53694F;
	border-radius: 150px;
}
html{
  background-color:#F5FFEB;
}

body{
	margin: 0;

}
header{
	background-color:#8FA78B;
	text-align: center;
	padding-top: 50px;
	padding-bottom:50px ;

}
h1,main,footer{font-family: 'STIX Two Text', serif;}

header h1{
	color:#214E34 ;
	font-size: 40px;
}
main{
	background-color:#F5FFEB ;}


header img{
 border-radius: 150px ;
 border: 5px solid #DAFEB7;
}

main{max-width: 800px;
margin: 0 auto;
padding: 0 20px 20px 100px;
}

main img{max-width: 100%;
border-radius: 30px;
border: 5px solid #214E34;}

h2{font-size: 35px;
color:#214E34 ;}

p{ font-size: 20px ;
color: #214E34;}

a{ color: #214E34; }

a:hover{
	color:#EFD0CA;
 }
 ul{color:#214E34 ;}
 ol{color:#214E34 ;}

  footer{ background-color: #8FA78B;
text-align: center;
padding: 5px;
 }
 footer p{margin: 0}
